= form_for @bicycle, html: { class: "form form-horizontal bicycle" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@bicycle[:name])
  .form-group
    = f.label :photo, class: 'control-label'
    .controls
      = f.text_field :photo, class: 'form-control', required: true
    = error_span(@bicycle[:photo])
  .form-group
    = f.label :style, class: 'control-label'
    .controls
      = f.text_field :style, class: 'form-control', required: true
    = error_span(@bicycle[:style])
  .form-group
    = f.label :price, class: 'control-label'
    .controls
      = f.text_field :price, class: 'form-control', required: true
    = error_span(@bicycle[:price])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), bicycles_path, :class => 'btn btn-default'
